* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #333333;
    margin: 20px 0;
}

form {
    width: 1000px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px 50px;
    border-radius: 5px;
    box-shadow: 0 0 10px #0000001a;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
    display: block;
    font-size: 18px;
}

div#divNome {
    display: inline-block;
    margin-top: 10px;
}

input#nome {
    width: 495px;
}

div#Divgenero {
    display: inline-block;
    margin-left: 20px;
    margin-top: 10px;
}

#errorGenero{
    color: #e63636;
    display: none;
    font-size: 15px;
}

select#genero {
    width: 205px;
    display: block;
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
}

input#nascimento {
    width: 160px;
}

div#divNascimento {
    display: inline-block;
    margin-top: 10px;
    margin-right: 32px;
}

div#divEmail {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-right: 20px;
}

input#email {
    width: 300px;
}

div#divDocumento {
    display: inline-block;
    margin-top: 10px;
    margin-right: 10px;
}

input#documento {
    width: 200px;
}

div#divCep {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 15px;
    clear: both;
    margin-right: 10px;
}

input#cep {
    width: 100px;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
}

div#divBairro {
    margin-top: 10px;
    display: inline-block;
    margin-right: 14px;
}

input#bairro {
    width: 190px;
}

div#divCidade {
    display: inline-block;
    margin-top: 10px;
}

input#cidade {
    width: 286px;
}

div#divUf {
    display: inline-block;
    margin-left: 20px;
    margin-top: 10px;
}

input#uf {
    width: 60px;
}

div#divComplemento {
    display: inline-block;
    margin-top: 10px;
    margin-right: 10px;
}

input#complemento {
    width: 200px;
}

div#divLogradouro {
    display: inline-block;
    margin-top: 10px;
}

input#logradouro {
    width: 495px;
}

div#divNumero {
    display: inline-block;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 10px;
}

input#numero {
    width: 90px;
}

div#numVazio{
    color: #e63636;
    display: none;
    font-size: 15px;
}

img#imgForm {
    margin-top: 10px;
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
    background-color: #dfdfdf;
}

button#enviar {
    background-color: #007BFF;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

#penviar{
    text-align: center;
}

.divError {
    color: #e63636;
    display: none;
    font-size: 15px;
}

#errorImg {
    display: none;
    color: #e63636;
    margin-bottom: 10px;
}

#formFile{
    display: none;   
}

#fotoEnviar{
    margin-top: 10px;
}